.react-multi-carousel-track {
  gap: 25px;
  width: inherit;

  .carouselContainer-list {
    width: inherit !important;
  }
}
.react-multiple-carousel__arrow {
  border: 2px solid $tiger-orange !important;
}
.carousel-comfort-container {
  display: flex;
  gap: 2rem;
  width: inherit;
}
.carousel-comfort-list {
  width: inherit !important;
}

// .carousel-intro-container {
  
//     .custom-dot-intro-list{}
// }
