.productCard {
  width: 425px;
  background: $aqua-haze;
  padding: 24px 16px;
  &__div {
    &-container {
      background: transparent;
    }
    &-img {
      img {
        width: 100%;
        height: 337px;
        object-fit: cover;
      }
    }
  }
}

.comfortCard {
  &-container {
    width: 1440px;
    height: 774px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


