.footer {
  &__section {
    &-top {
      background: rgba(191, 144, 70, 0.1);
      height: 443px;
      position: relative;

      .footer__div-text {
        &-img {
          position: absolute;
          right: 0;
          bottom: 0;

          & img {
            width: 708px;
            height: 708px;
            flex-shrink: 0;
            object-fit: cover;
          }
        }
      }
    }
  }
}
