//colors

$neutral-white: #ffffff;
$neutral-black: #000;
$tint-white: #fffcf6;
$ink: #17191c;
$grey-bold: #52525b;
$vampire-grey: #525252;
$black-red: #433838;
$aqua-haze: #f3f3f3;
$tiger-orange: #bf9046;
