.homepage {
  &__section {
    &-intro {
      .homepage__div {
        &-right {
          & img {
            width: 515px;
            height: 524px;
            object-fit: cover;
          }
        }
      }
    }

    &-collection {
      .homepage__div {
        &-collection {
          &-container {
            height: 644px;
          }

          &-left {
            height: 100%;
            background: url("../../../src/assets/img/mens-collection.jpg"),
              lightgray 0px -257.577px / 100% 140.561% no-repeat;
            background-repeat: no-repeat;
            background-size: cover;
          }
          &-right {
            height: 100%;
            background: url("../../../src/assets/img/womens-collection.jpg"),
              lightgray 0px -257.577px / 100% 140.561% no-repeat;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
    }

    &-about {
      .homepage__div-about {
        &-right {
          width: 100%;

          img {
            width: 100%;
            height: 277px;
            object-fit: cover;
          }
        }
      }
    }

    &-parallax {
      .homepage__div-parallax {
        &-container {
          height: 700px;
          background: url("../../../src/assets/img/fight.gif"),
            lightgray 0px -257.577px / 100% 140.561% no-repeat;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }

    &-categories {
      .homepage__div-categories {
        &-body {
          background: rgba(191, 144, 70, 0.1);
          padding: 55px;
        }
      }
    }

    &-comfort {
      .homepage__div-comfort {
        &-container {
          background-image: url("../../../src//assets//img/comfort.gif");
          height: 774px;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.catImg {
  width: 100%;
  background: $neutral-white;
  padding: 30px 20px;

  &-container {
    height: 405px;
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
  }
}
